<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/static/assets/radar-pericial-logo-C70T_mVI.svg" />
    <title>Radar Pericial</title>
    <script type="module" crossorigin src="/static/assets/index-BQTLneps.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-B36BXXV4.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
